@import '../../_colors.scss';
.explore {
  button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    &:active {
      border: $color1-outline;
    }
  }
 .spacing {
   height: 40px;
 }
}
