.article {
  width: 60%;
  margin: auto;
  .overview{
    .involvement {
      width: 100%;
      float: left;
      list-style: none;
      font-size: 20px;
      padding: .2vw;
      color: #1495ff;
      span {
        padding: 5px 10px;
        margin: 0px 5px;
        font-size: 15px;
        border: 1px dashed #1495ff;
        border-radius: 5px;
        white-space: pre-line;
      }
    }
    .website-url {
      float: right;
      border: 1px solid #1495ff;
      font-size: 15px;
      border-radius: 5px;
      padding: 5px 10px;
    }
    .website-url:hover{
      background: #e7e7e7;
      text-decoration: none;
    }
}
  img {
    outline: 1px black solid;
    max-width: 80%;
    display: block;
    margin: 20px auto;
  }

  p {
    font-size: 20px;
    padding: .2vw;
  }
}
@media (max-width:940px){
  .article {
    width: 90%;
  }
}
