$color1:#5cb85c; //light green emph text {Convert all green to this}
$color1-dark: #449d44;
$color1-outline: #398439;
$color2: #1495ff; //light blue emph articles

$color3: #093377; //dark blue logo
$color4: white; //Logo negative

$color5:#f5f7fa; //banner background light grey {convert backgound to this}
$color6: #69707a; //offblack banner text
